{{$src := .Destination | safeURL }}
{{$width := index (split .Text "|") 1 | default "auto" }}
{{$text := replace .Text (print "|" $width) "" 1}}
{{$external := strings.HasPrefix $src "http" }}
{{- if $external -}}
<figure>
    <img src="{{ $src }}" width="{{ $width }}" alt="{{ $text }}" {{ with .Title }} title="{{ . }}" {{ end }} />
    <figcaption>{{ $text }}</figcaption>
</figure>
{{- else -}}
{{$fixedUrl := (cond (hasPrefix $src "/") $src (print "/" $src)) | urlize}}
<figure>
    <img src="{{.Page.Site.BaseURL}}{{ $fixedUrl }}" width="{{ $width }}" alt="{{ $text }}" {{ with .Title }} title="{{ . }}" {{ end }} />
    <figcaption>{{ $text }}</figcaption>
</figure>
{{- end -}}
