{{$trimmed := strings.TrimSuffix ".md" (.Destination | safeURL)}}
{{$dashedurl := replace $trimmed "%20" "-" }}
{{$external := strings.HasPrefix $dashedurl "http" }}
{{- if $external -}}
<a href="{{ $dashedurl }}" rel="noopener">{{ .Text | safeHTML }}</a>
{{- else -}}
{{$spacedurl := replace $trimmed "%20" " " }}
{{$fixedUrl := (cond (hasPrefix $spacedurl "/") $spacedurl (print "/" $spacedurl)) | urlize}}
{{$nonexistent := eq (.Page.GetPage $spacedurl).RelPermalink ""}}
{{$rooted := default .Page.RelPermalink (.Page.GetPage $spacedurl).RelPermalink }}

{{/*  correct link if it is a local link to an anchor  */}}
{{$anchor := index (findRE "#.*$" $fixedUrl) 0}}
{{if $anchor}}
  {{$fixedAnchor := replace (lower $anchor) " " "-"}}
  {{$rooted = printf "%s%s/" (replaceRE "/$" "" $rooted) $fixedAnchor}}
  {{$nonexistent = false}}
{{end}}

<a
  {{if eq $nonexistent false}}href="{{$rooted}}"{{end}}
  rel="noopener" class="internal-link{{if $nonexistent}} broken{{end}}"
  data-src="{{$rooted}}"
>
  {{- .Text | safeHTML -}}
</a>
{{- end -}}
